body {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2px;
  border-radius: 10px;
  border: 1px solid goldenrod;
  font-size: 2.5em;
  background-color: whitesmoke;
}

.x {
  background-color: #064663;
}

.o {
  background-color: #ecb365;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin-bottom: 20px;
}
